<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
     body {
      color: #E75480;
      text-align: center;
      } 
 a{
  color: red;
 }
    </style>
  </head>
  <body>
    
    
    <h1>Hello, {{ user.username|default:'Guest' }}</h1>

    <p> Welcome to the Our Blog </p>
    &emsp;&emsp;
    <a href="{% url 'blog' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Click here to Post a Blog</a>

    &emsp;&emsp;
    <button type="button" class="btn btn-primary btn-lg active"><a href="{% url 'blogs' %}"> Click here to see all blogs</a></button>
    <br><br>

    
    <div>
      {% if user.is_authenticated %}
      <button type="button" class="btn btn-outline-danger"><a href="{% url 'logout' %}">Logout</a>&emsp;</button>&emsp;

     
    
      {% else %}
      <br>
      <button type="button" class="btn btn-outline-success"><a href="{% url 'login' %}">Login</a></button>
          
      {% endif %}
  </div>
  
  </body>
</html>