<html>
  <head>
    <style>
     body {
      color: #E75480;
      text-align: center;
      } 
 a{
  color: red;
 }
    </style>
  </head>
  <body>
    
    <h1>Hello, {{ user.username|default:'Guest' }}</h1>

    <p> Welcome to the Our site</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>&emsp;&emsp;
          <a href="{% url 'blogs' %}"> Click here to see all blogs</a>
    
      {% else %}
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
  </div>
  
  </body>
</html>