<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
h1{
    margin-left: 35%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h2.a{
  color: powderblue;
}
</style>
</head>
<body>
    {% if user.is_authenticated %}
<h2><a href="{% url 'home' %}">Home</a></h2>
<h1 >Here You Can See Your All blogs</h1>


<table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    {% for blogs in blogs %}
    <tr>
        <td>{{ blogs.title }}</td>
        <td>{{ blogs.description }}</td>
        
        <td> <a href="{% url 'delete' %}">update</a></td>
      </tr>
    {% endfor %}
    </table>
    {% else %}

    <h1 >You have not logged in ! Kindly login</h1>
    <a href="{% url 'login' %}">Login</a>
    

    {% endif %}

 

  

</body>
</html>

