<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
h1{
    margin-left: 35%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h2.a{
  color: powderblue;
}
</style>
</head>
<body>
<br>
&emsp; <a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
   

<button type="button" class="btn btn-primary btn-lg btn-block">Here You Can See Your All blogs</button>

<table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    {% for blogs in blogs %}
    <tr>
        <td>{{ blogs.title }}</td>
        <td>{{ blogs.description }}</td>
        <td>
          <button type="button" class="btn btn-outline-warning"><a href="{% url 'update' blogs.id %}">Update</a></button> 
          <button type="button" class="btn btn-outline-danger"><a href="{% url 'delete' blogs.id %}">Delete</a></button>
              
        </td>
        
      </tr>
    {% endfor %}

    </table>
    <br>
    
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
   <a href="{% url 'blog' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Create A Blog</a>
    

   

 

  

</body>
</html>

